<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Datos de la vivienda destino del crédito</h5>
        <p style="text-transform:none" class="card-category">Rellene el siguiente formato</p>
      </div>
    <div class="card-body">
    <form class="pr-5 mb-5" method="post" id="contactFormInscripcion" name="contactForm">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" name="calle" id="fname1" placeholder="Calle">
        </div>
        <div class="col-md-6 form-group">
          <input type="number" class="form-control" name="numeroext" id="lname2" placeholder="Numero exterior">
        </div>
        <div class="col-md-6 form-group">
          <input type="number" class="form-control" name="numeroint" id="lname3" placeholder="Numero interior">
        </div>
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" name="lote" id="lname4" placeholder="Lote">
        </div>
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" name="mza" id="lname5" placeholder="Mza.">
        </div>
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" name="colonia" id="lname6" placeholder="Colonia o fraccionamiento">
        </div>
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" name="entidad" id="lname7" placeholder="Entidad">
        </div>
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" name="municipio" id="lname8" placeholder="Municipio o Delegación">
        </div>
        <div class="col-md-6 form-group">
          <input type="number" class="form-control" name="cp" id="lname9" placeholder="Codigo postal">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="">¿La vivienda elegida es para una persona con discapacidad? </label> <br>
          <div class="form-check-inline col-md-6 form-group">
            <input class="" type="checkbox" id="inlineCheckbox1" value="si">&nbsp;
              <label class="form-check-label" for="inlineCheckbox1"> Si</label>
            </div>
            <div class=" form-check-inline col-md-6 form-group">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="no">
              <label class="form-check-label" for="inlineCheckbox2">No</label>
            </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="">Tipo de discapacidad </label> <br>
          <div class="form-check-inline col-md-6 form-group">
            <input class="" type="checkbox" id="inlineCheckbox3" value="Motriz">&nbsp;
              <label class="form-check-label" for="inlineCheckbox3"> Motriz</label>
                </div>
                <div class=" form-check-inline col-md-6 form-group">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Auditiva">
                  <label class="form-check-label" for="inlineCheckbox4">Auditiva</label>
                </div>
                <div class=" form-check-inline col-md-6 form-group">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Mental">
                  <label class="form-check-label" for="inlineCheckbox5">Mental</label>
                </div>
                <div class=" form-check-inline col-md-6 form-group">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Visual">
                  <label class="form-check-label" for="inlineCheckbox6">Visual</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="">Persona que presentará comprobante de discapacidad:</label> <br>
                <div class="form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="Derechohabiente">
                  <label class="form-check-label" for="inlineCheckbox7">Derecho habiente </label>
                </div>
                <div class="form-check-inline col-md-6 form-group">
                  <input class="" type="checkbox" id="inlineCheckbox8" value="Conyuge">&nbsp;
                  <label class="form-check-label" for="inlineCheckbox8"> Cónyuge</label>
                </div>
                <div class=" form-check-inline col-md-6 form-group">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="Padre">
                  <label class="form-check-label" for="inlineCheckbox9">Padre</label>
                </div>
                <div class=" form-check-inline col-md-6 form-group">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="Madre">
                  <label class="form-check-label" for="inlineCheckbox10">Madre</label>
                </div>
                <div class=" form-check-inline col-md-6 form-group">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="Hijo">
                  <label class="form-check-label" for="inlineCheckbox11">Hijo</label>
                </div>
                
              </div>
            </div>
            <div class="card-header">
              <h5 class="card-title">Datos de la empresa o patrón</h5>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="empresa" id="fname10" placeholder="Nombre de la empresa o patrón">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="nrp" id="fname11" placeholder="Numero de registro patronal (NRP)">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="telefonoempresa" id="fname12" placeholder="Telefono de la empresa donde trabaja">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="ext" id="fname13" placeholder="Ext">
              </div>
            </div>
            <div class="card-header">
              <h5 class="card-title">Datos de Identificación del o de la derecho habiente / Los datos seran validados</h5>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="nss" id="fname14" placeholder="Numero de seguro social N.S.S">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="curp" id="lname15" placeholder="CURP">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="rfc" id="lname16" placeholder="R.F.C">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="apelidop" id="lname17" placeholder="Apellido paterno">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="apellidom" id="lname18" placeholder="Apellido materno">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="nombres" id="lname19" placeholder="Nombres">
              </div>
              <div class="col-md-6 form-group">
                <label for="">Domicilio actual del o de la derechohabiente</label>
                <input type="text" class="form-control" name="calleYnumero" id="lname20" placeholder="Calle y numero">
              </div>
              <div class="col-md-6 form-group">
                <label for="">Domicilio actual del o de la derechohabiente</label>
                <input type="text" class="form-control" name="colonia" id="lname20" placeholder="Colonia o fraccionamiento">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="entidad" id="lname21" placeholder="Entidad">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="delegacion" id="lname22" placeholder="Municipio o delegacion">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="codigoPostal" id="lname23" placeholder="Codigo postal">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="telefono" id="lname24" placeholder="Teléfono">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="cel" id="lname25" placeholder="Celular">
              </div>
              <div class="col-md-6 form-group">
                <label for="">Género:</label> <br>
                <div class="form-check-inline col-md-6 form-group">
                  <input class="" type="checkbox" id="inlineCheckbox12" value="M">&nbsp;
                  <label class="form-check-label" for="inlineCheckbox12"> M</label>
                </div>
                <div class="form-check-inline">
                  <input class="" type="checkbox" id="inlineCheckbox13" value="F">&nbsp;
                  <label class="form-check-label" for="inlineCheckbox13"> F</label>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="correo" id="lname26" placeholder="Correo">
              </div>
            </div>
            <div class="card-header">
              <h5 class="card-title">Referencias familiares del o de la derecho habiente / Los datos serán validados</h5>
            </div>
            <label for="">Referencia 1</label>
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="apellidoP" id="fname27" placeholder="Apellido paterno">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="apellidoM" id="lname28" placeholder="Apellido materno">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="Nombres" id="lname29" placeholder="Nombres">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="telefono" id="lname30" placeholder="Telefono">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="celular" id="lname31" placeholder="Celular">
              </div>
            </div>
            <label for="">Referencia 2</label>
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="apellidoP" id="fname32" placeholder="Apellido paterno">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="ApellidoM" id="lname33" placeholder="Apellido materno">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="names" id="lname34" placeholder="Nombres">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="tel" id="lname35" placeholder="Telefono">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="cel" id="lname36" placeholder="Celular">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="submit" value="Enviar datos" class="btn btn-primary rounded-0 py-2 px-4">
                <span class="submitting"></span>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>
  </div>