<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <p style="text-transform:none" class="card-category">Rellene el siguiente formato</p>
      </div>
      <div class="card-body ">
        <form class="pr-5 mb-5" method="post" id="contactForm" name="contactFormAceptacion">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputCity">Ciudad</label>
              <input type="text" class="form-control" id="inputCity1">
            </div>
            <div class="form-group col-md-4">
              <label for="inputCity">Dia</label>
              <input type="number" class="form-control" id="inputCity2">
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Mes</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputCity">Numero de seguro social</label>
              <input type="number" class="form-control" id="inputCity3">
            </div>
            <div class="form-group col-md-4">
              <label for="inputCity">Saldo de la subcuenta de vivienda</label>
              <input type="number" class="form-control" id="inputCity4">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputCity">Nombre completo del derecho habiente</label>
              <input type="text" class="form-control" id="inputCity5">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="submit" value="Enviar datos" class="btn btn-primary rounded-0 py-2 px-4">
              <span class="submitting"></span>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer ">
      </div>
    </div>
  </div>
</div>