<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <p style="text-transform:none" class="card-category">Rellene el siguiente formato</p>
        </div>
        <div class="card-body ">
          <form class="pr-5 mb-5" method="post" id="contactForm" name="contactForm">
                <div class="row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">Ciudad</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCity">Dia</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">Mes</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                  </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputCity">NSS</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                      <label for="inputCity">SSV</label>
                      <input type="text" class="form-control" id="inputCity">
                  </div>
            </div>
            <div class="card-header">
              <h5 class="card-title">Referencias familiares del o de la derechohabiente / Los datos serán validados</h5>
            </div>
            <label for="">Referencia 1</label>
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="apellidoP" id="fname27" placeholder="Apellido paterno">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="apellidoM" id="lname28" placeholder="Apellido materno">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="Nombres" id="lname29" placeholder="Nombres">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="telefono" id="lname30" placeholder="Telefono">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="celular" id="lname31" placeholder="Celular">
              </div>
            </div>
            <label for="">Referencia 2</label>
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="apellidoP" id="fname32" placeholder="Apellido paterno">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="ApellidoM" id="lname33" placeholder="Apellido materno">
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="names" id="lname34" placeholder="Nombres">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="tel" id="lname35" placeholder="Telefono">
              </div>
              <div class="col-md-6 form-group">
                <input type="number" class="form-control" name="cel" id="lname36" placeholder="Celular">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="submit" value="Enviar datos" class="btn btn-primary rounded-0 py-2 px-4">
                <span class="submitting"></span>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer ">
        </div>
      </div>
    </div>
  </div>