<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Hoja de datos generales</h5>
        <p style="text-transform:none" class="card-category">Rellene con los datos del cliente el siguiente formato</p>
      </div>
      <div class="card-body ">
        <form class="pr-5 mb-5" method="post" id="contactFormDatosGenerales" name="contactForm">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="nombre" id="fname1" placeholder="Nombre">
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="rfc" id="lname2" placeholder="RFC">
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="nss" id="lname3" placeholder="N.S.S">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="curp" id="lname4" placeholder="CURP">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="">Destino del credito: </label> <br>
              <div class="form-check-inline col-md-6 form-group">
                <input class="" type="checkbox" id="inlineCheckbox1" value="Compra vivienda">&nbsp;
                <label class="form-check-label" for="inlineCheckbox1"> Comprar vivienda</label>
              </div>
              <div class=" form-check-inline col-md-6 form-group">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Construir una vivienda">
                <label class="form-check-label" for="inlineCheckbox2">Construir una vivienda</label>
              </div>
              <div class=" form-check-inline col-md-6 form-group">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Reparar, ampliar o mejorar una vivienda">
                <label class="form-check-label" for="inlineCheckbox3">Reparar, ampliar o mejorar una vivienda</label>
              </div>
            </div>
          </div>
          <div class="card-header">
            <h5 class="card-title">Domicilio</h5>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="calle" id="fname5" placeholder="Calle y numero">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="col" id="fname6" placeholder="Colonia">
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="cp" id="fname7" placeholder="C.P">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="municipio" id="fname8" placeholder="Municipio o Delegacion">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="estado" id="fname9" placeholder="Estado">
            </div>
            <div class="col-md-6 form-group">
              <div class="input-group mb-3">
                <span class="input-group-text">Telefono</span>
                <input type="text" class="form-control" placeholder="Casa" aria-label="casa">
                <span class="input-group-text">Telefono</span>
                <input type="text" class="form-control" placeholder="Oficina" aria-label="oficina">
                <span class="input-group-text">Telefono</span>
                <input type="text" class="form-control" placeholder="Celular" aria-label="celular">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="correo" id="fname10" placeholder="Correo electronico">
            </div> 
            <div class="col-md-6 form-group">
              <div class="input-group mb-3">
                <span class="input-group-text">Telefono</span>
                <input type="number" class="form-control" placeholder="Recado" aria-label="recado">
              </div>
            </div>
            <div class="col-md-6 form-group">
              <label for="">Estado civil: </label> <br>
              <div class="form-check-inline col-md-6 form-group">
                <input class="" type="checkbox" id="inlineCheckbox4" value="Soltero">&nbsp;
                <label class="form-check-label" for="inlineCheckbox4"> Soltero</label>
              </div>
              <div class=" form-check-inline col-md-6 form-group">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Casado">
                <label class="form-check-label" for="inlineCheckbox5">Casado</label>
              </div>
              <div class=" form-check-inline col-md-6 form-group">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Separacion de bienes">
                <label class="form-check-label" for="inlineCheckbox6">Separacion de bienes</label>
              </div>
              <div class=" form-check-inline col-md-6 form-group">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="Sociedad conyugal">
                <label class="form-check-label" for="inlineCheckbox7">Sociedad conyugal</label>
              </div>
            </div>
          </div>
          <div class="card-header">
            <h5 class="card-title">Empresa</h5>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="razonsocial" id="fname11" placeholder="Razon social o nombre del patron">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="registro" id="lname12" placeholder="Registro patronal">
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="salario" id="lname13" placeholder="Salario mensual">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="antiguo" id="lnameAntiguo" placeholder="Antigüedad">
            </div>
          </div>
          <div class="card-header">
            <h5 class="card-title">Domicilio de la empresa</h5>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="calleYnumero" id="fname14" placeholder="Calle y numero">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="colonia" id="lname15" placeholder="Colonia">
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="cp" id="lname16" placeholder="C.P">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="delegacion" id="lname17" placeholder="Municipio o delegacion">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="estado" id="lname18" placeholder="Estado">
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="telefonoOficina" id="lname19" placeholder="Telefono de oficina">
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="ext" id="lname20" placeholder="Ext">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="horario" id="lnameHorario" placeholder="Horario">
            </div>
          </div>
          <div class="card-header">
            <h5 class="card-title">Referencias personales con telefono local</h5>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="fname" id="fname21" placeholder="Nombre completo- Persona 1">
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="lname" id="lname22" placeholder="Telefono local- Persona 1">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="lname" id="lname23" placeholder="Nombre completo- Persona 2">
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="lname" id="lname24" placeholder="Telefono local- Persona 2">
            </div>
          </div>
          <div class="card-header">
            <h5 class="card-title">Precalificacion</h5>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="creditoOtorgado" id="fname25" placeholder="Monto de credito a otorgar:">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="ssv" id="lname26" placeholder="Contaria con SSV 95%:">
            </div>
            <div class="col-md-6 form-group">
              <input type="number" class="form-control" name="saldo" id="lname27" placeholder="Saldo de la subcuenta de vivienda:">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="descuento" id="lname28" placeholder="Descuento mensual de su Salario:">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="ahorro" id="lname29" placeholder="Monto del ahorro voluntario (en su caso):">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="plazoCredito" id="lname30" placeholder="Plazo del credito (Condiciones actuales):">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="gastos" id="lname31" placeholder="Gtos, titulacion, financieros y de operacion:">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="valorCatastral" id="lname32" placeholder="Valor catastral (segun el predial):">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="promotor" id="lname33" placeholder="Promotor/ Asesor:">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="fechaderecepcion" id="lname34" placeholder="Fecha de recepcion:">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="integro" id="lname35" placeholder="Integro:">
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="verficadora" id="lname36" placeholder="Verificadora asignada:">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="submit" value="Enviar datos" class="btn btn-primary rounded-0 py-2 px-4">
              <span class="submitting"></span>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer ">
      </div>
    </div>
  </div>
</div> 
