<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <p style="text-transform:none" class="card-category">Rellene el siguiente formato</p>
            </div>
            <div class="card-body ">
                <form class="pr-5 mb-5" method="post" id="contactFormAcuse" name="contactForm">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="inputCity">Dia</label>
                            <input type="text" class="form-control" id="inputCity1">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="Mes">Mes</label>
                            <input type="text" class="form-control" id="inputCity2">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Año</label>
                            <input type="number" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Nombre completo del derechohabiente: </label>
                            <input type="text" class="form-control" id="inputCity5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="">Documentos de entrega:</label> <br>
                            <div class="form-check-inline col-md-6 form-group">
                                <input class="" type="checkbox" id="inlineCheckbox3" value="Motriz">&nbsp;
                                <label class="form-check-label" for="inlineCheckbox3"> Hoja de datos generales
                                    (debidamente requisitada)</label>
                            </div>
                            <div class=" form-check-inline col-md-6 form-group">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Solicitud de crédito">
                                <label class="form-check-label" for="inlineCheckbox4">Solicitud de crédito</label>
                            </div>
                            <div class=" form-check-inline col-md-6 form-group">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="INE escaneada">
                                <label class="form-check-label" for="inlineCheckbox5">INE escaneada</label>
                            </div>
                            <div class=" form-check-inline col-md-6 form-group">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Comprobante de domicilio">
                                <label class="form-check-label" for="inlineCheckbox6">Comprobante de domicilio</label>
                            </div>
                            <div class=" form-check-inline col-md-6 form-group">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="Estado de cuenta">
                                <label class="form-check-label" for="inlineCheckbox7">Estado de cuenta</label>
                            </div>
                            <div class=" form-check-inline col-md-6 form-group">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="Predial">
                                <label class="form-check-label" for="inlineCheckbox8">Predial</label>
                            </div>
                            <div class=" form-check-inline col-md-6 form-group">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="Constancia laboral">
                                <label class="form-check-label" for="inlineCheckbox9">Constancia laboral</label>
                            </div>
                            <div class=" form-check-inline col-md-6 form-group">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="Precalificación sin buro de
                                crédito del cliente">
                                <label class="form-check-label" for="inlineCheckbox10">Precalificación sin buro de
                                    crédito del cliente</label>
                            </div>
                            <div class=" form-check-inline col-md-6 form-group">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="Confirmación de MI CUENTA
                                INFONAVIT">
                                <label class="form-check-label" for="inlineCheckbox11">Confirmación de MI CUENTA
                                    INFONAVIT</label>
                            </div>
                        </div>
                        <!-- <div class="form-group col-md-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                    </div>
                </div> -->
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Nombre completo del ejecutivo de ventas: </label>
                            <input type="text" class="form-control" id="inputCity9">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Enviar datos" class="btn btn-primary rounded-0 py-2 px-4">
                            <span class="submitting"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>